
:root {
    --accent-purple: #802BB1;
    --backg-darkb: #2D283E;
    --light-grape: #564f6F;
    --dark-gray: #4C495D;
    --light-gray: #D1D7E0;
}


body {
  font-family: 'Roboto', Arial;
  margin: 0;
  position: relative;;
  bottom: -10px, 0, 0, 0;
  color: #333; 
}


nav {
  background-color: var(--backg-darkb);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  align-items: right; 
  justify-content: right;
}

nav li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: var(--accent-purple);
  color: white;

}

button:hover {
  transform: scale(1.1)
}

.bkimg {
    width: 100%;
    height: 100%;
    background-image: url("../img/bottomleft.png"), url("../img/topleft.png"), url("../img/topright.png"), url("../img/bottomright.png");
    background-repeat: no-repeat;
    background-position: bottom left, top left, top right, bottom right;
    position: fixed;
    z-index: -1;
}


.centertext {
    font-family: "Roboto-Condensed";
    font-style: italic;
    font-size: 1.5rem;
    margin: 0;
    position: absolute;
    bottom: 15vh;
    left: 37vw;
    color: magenta;
  
}

.tagline {
  font-style: italic;
}


.footer {
  display: flex;
  align-items: bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;     
  background-color: var(--backg-darkb);
  text-indent: 1vw;
}

.footertext {
  display: flex;
  position: fixed;
  color: white;
  text-align: center;
  bottom: -45vh;
  left: 0;
}


.button {
  position: absolute;
  bottom: 0vh;
  right: 47vw;
  background-color: var(--accent-purple);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 50px;
}


.notify {
  position: fixed;
  display: flex;
  top: 15vh;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

h1 {
  position: fixed;
  left: 37vw;
  top: 30vh;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--accent-purple);
  margin: 0;
  padding: 0;
  font-family: "Roboto-Condensed";
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 49vh;
  left: 42vw;

}

#button {
  position: relative;
  left: 47vw;
  top: 43vh;
  border-radius: 10px;
  background-color: var(--accent-purple);
  padding: 10px 20px;
  color: white;
}

#button:hover {
  transform: scale(1.1, 1.1);
}




table th {
    background-color: var(--accent-purple);
    color: white;
    padding: 10px 60px;

}


table td {
    background-color: white;
    color: var(--accent-purple);
    padding: 10px 60px;
}

.students {
    position: fixed;
    top: 22vh;
    font-size: 3rem;
    left: 17vw;
    color: var(--accent-purple);
}


.studenttable {
    font-family: "Roboto";
    position: absolute;
    top: 40vh;
    left: 10vw;
}

/*
.studenttable th {
    background-color: var(--accent-purple);
    color: white;
    padding: 10px 30px;
}



.studenttable td {
    background-color: white;
    color: var(--accent-purple);
    padding: 10px 30px;
} */


.addstudent {
    position: fixed;
    top: 26vh;
    left: 70vw;
    font-size: 2rem;
    color: var(--accent-purple);
}

.addstudentsep {
    position: fixed;
    top: 31vh;
    left: 17vw;
    font-size: 2rem;
    color: var(--accent-purple);
}


.addassignmentbutton {
    position: fixed;
    top: 30vh;
    left: 80vw;
    background-color: var(--accent-purple);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.addassignmentbutton:hover {
    transform: scale(1.1, 1.1);
}

.changecolor {
    color: white;
}

.returntomainpagebutton {
    position: fixed;
    top: 85vh;
    left: 40vw;
    background-color: var(--accent-purple);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.returntomainpagebutton:hover {
    transform: scale(1.1, 1.1);
}

.copybutton {
  background-color: var(--accent-purple);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copybutton:hover {
  transform: scale(1.1, 1.1);
}

.lower {
    position:fixed;
    top: 42vh;
}

.backtostudent {
    position: fixed;
    top: 80vh;
    left: 40vw;
    background-color: var(--accent-purple);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}


.changecolor {
  color: white;
}

.professorassignmentstudentbutton {
  position: fixed;
  top: 28vh;
  left: 48vw;
  background-color: var(--accent-purple);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 50px;
}

.professorassignmentstudentbutton:hover {
  transform: scale(1.1, 1.1);
}


.assignmenthead {
  position: fixed;
  top: 18vh;
  font-size: 3rem;
  left: 17vw;
  color: var(--accent-purple);
}

.moveright {
  color: white;
}